.component-div{
    width:100px;
    height:300px;

}

.box{
    width:50px;
    height:80px;
    background: #f5a419;
}
.hide {
    display: none;
}
.show {
    display:block;
    width:50px;
    height:80px;
    background: #f5a419;
}