body{
    padding:4rem;
}


.component-div{
    width:200px;
    height:300px;
    border:1px solid black;
    padding:1rem;

}

.hide {
    display: none;
}
.show {
    margin-top:10px;
    display:block;
    width:150px;
    height:150px;
    background: #fdee2d;
}